.pagination{
    display: block;
    justify-content: center;
    text-align: center;
    margin-bottom: 2vh;
}
.paginationButton{
  background-color: #172730;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width:3vw;
  margin-left: 2vw;
  display: inline-block;

  &:hover {
    background-color: #6cb9c7;
  }
 
}