.parallex_main{
    /* background-color: #163839; */
    height:60vh;
    top: 100vh;
    /* background-image: url('../../Img/genderImg.jfif'); */
    background-image: linear-gradient(rgba(24, 177, 204, 0.11), rgba(24, 177, 204, 0.11)), url('../../Img/genderImg.jfif');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    scroll-snap-align: start; 
}
.parallex_bottom{
    height: 100%;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.header_motto{
    color:#00859B;
}

@media  (max-width:767px){
    .parallex_main{
        scroll-snap-align: none;
    }
}