.header {
    height: 100vh;
    display: grid;
    clip-path: ellipse(98% 51% at 47% 38%);
    scroll-snap-align: start;
  }
  
  .headerCover {
    display: grid;
    grid-template-areas: "stack";
  }
  
  .parallax {
    grid-area: stack;
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  .parallax_1 {
    --parallax-speed: -10;
  }
  
  .parallax_2 {
    --parallax-speed: -20;
    width: 70%;
    margin: -12% 15%;
  }
  
  .parallax_3 {
    --parallax-speed: -15;
    height: 70%;
    align-self: end;
  }
  
  .parallax_4 {
    --parallax-speed: -25;
    width: 30%;
    margin: 10% 28%;
    transform: rotate(-8deg);
  }
  
  .parallax_5 {
    --parallax-speed: -18;
    height: 85%;
    width: 70%;
    margin-left: -75px;
    align-self: end;
  }
  
  .parallax_6 {
    --parallax-speed: -30;
    margin-top: 4%;
    transform: rotate(210deg);
    max-height: 90%;
    max-width: 72%;
  }
  
  .headerLeft {
    --parallax-speed: -5;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
    align-self: center;
    justify-self: end;
    margin: -15% -3%;
  }
  

.headerText {
    color: #00859B;
    font-weight: 700;
    font-size: x-large;
    width: 100%;
    background-color: transparent;
    margin-bottom: 6.9vh;
    
    padding-left: 2vh;
}
.headerTopText{
    color: #5c5c5c;
    font-size:3vh;
    padding-left: 2vh;
    margin-bottom: 6.9vh;
}
.headerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    background-color: #00859B;
    height: 7vh;
    width: 12vw;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}
.headerButton:hover{
    border: #00859B solid;
    background-color: #fff;
    color: #00859B;
    font-weight: 700;
    -webkit-box-shadow: -3px -1px 28px 0px rgba(0,0,0,1);
    -moz-box-shadow: -3px -1px 28px 0px rgba(0,0,0,1);
    box-shadow: -3px -1px 28px 0px rgba(0, 0, 0, 0.432);
}
.smallDevice{
    visibility: hidden;
}


/* Medium Devices (Tablets) */
@media (max-width: 991px) {
    .header {
        grid-template-columns: 1fr;
        height: auto;
        background-size: 100vw 50vh;
        background-position: center top;
    }

    .headerLeft {
        margin: 10vh 0;
    }

    .headerText {
        font-size: 1.5rem;
        margin-bottom: 2vh;
    }

    .headerButton {
        height: 6vh;
        width: 30vw;
        padding-top: 3vh;
        margin-left: 0;
    }
}

/* Small Devices (Phones) */
@media (max-width: 767px) {
    .header{ 
        font-size: 2vh;
        height: 60vh;
        width: 100vw;
        grid-template-columns: 1fr;
        overflow: hidden;
        background-image: url('../../Img/one.png');
        background-size: 100vw 50vh;
        background-repeat: no-repeat;}

    .headerText {
        font-size: 2vh;
        margin: auto auto;
    }
    .headerLeft{
        margin-top: -2.4vh;
        background-color: rgba(58, 40, 40, 0.158);
        backdrop-filter: blur(1px );
    }

    .headerButton {
        height: 3vh;
        width: 30vw;
        padding: 2vh;
        margin-left: 0;
    }
}

/* Small Devices (Phones) */
@media (max-width: 767px) {
    .header{ 
        font-size: 2vh;
        height: 60vh;
        width: 100vw;
        grid-template-columns: 1fr;
        overflow: hidden;
        background-image: url('../../Img/one.png');
        background-size: 100vw 50vh;
        background-repeat: no-repeat;}

    .headerText {
        font-size: 2vh;
        margin: auto auto;
    }
    .headerLeft{
        margin-top: -2.4vh;
        background-color: rgba(58, 40, 40, 0.158);
        backdrop-filter: blur(1px );
    }

    .headerButton {
        height: 3vh;
        width: 30vw;
        padding: 2vh;
        margin-left: 0;
    }
}