.cardSection {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10vh;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    overflow: hidden;
}
.searchSortContainer{
    display: flex;
    float: right;
}

.cardSectionTitle {
    text-align: center;
}

.cardContainer {
    width: 20vw;
    height: 25vh;
    padding: 2vh;
    border-radius: 8px;
    background-color: #D1D3D4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: -5px 19px 53px -5px rgba(0,0,0,0.91);
    -webkit-box-shadow: -5px 19px 53px -5px rgba(0,0,0,0.91);
    -moz-box-shadow: -5px 19px 53px -5px rgba(0,0,0,0.91);
}
.cardHover{
    display: none;
    position: absolute;
    background-color: #91C7D1;
    width:30vw;
    height: 30vh;
    padding: 2vh;
    border-radius: 8px;
    box-shadow: -5px 19px 53px -5px rgba(0,0,0,0.91);
    -webkit-box-shadow: -5px 19px 53px -5px rgba(0,0,0,0.91);
    -moz-box-shadow: -5px 19px 53px -5px rgba(0,0,0,0.91);
    overflow: auto;
}

.cardContainer:hover .cardHover{
   
    display: block;
}
.cardContainer:hover .cardLeft,
.cardContainer:hover .cardBottom {
    display: none;
}
.cardRight {
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.tag{
    text-align: center;
    padding: 1vw;
    color: #172730;
    font-weight: 800;
}
.tag span{
    color: white;
    font-size:medium;
}
.cardLeft {
    margin: auto;
    width: 50%;
    padding-right: 1.5vw;
}

.cardBottom {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.cardName {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cardRegion {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cardText {
    padding-left: 1px;
}

.cardLable {
    font-size: large;
    font-weight: 600;
    color: #172730;
}

.cardImg {
    height: 120%;
    width: 120%;
    box-shadow: 10% #172730;
    border-radius: 50%;
    box-shadow: -5px 19px 53px -5px rgba(0,0,0,0.91);
    -webkit-box-shadow: -5px 19px 53px -5px rgba(0,0,0,0.91);
    -moz-box-shadow: -5px 19px 53px -5px rgba(0,0,0,0.91);
}

/* Medium Devices (Tablets) */
@media (max-width: 991px) {
    .cardSection {
        grid-template-columns: 1fr ;
        height: auto;
        padding: 5vh 0;
    }

    .cardContainer {
        width: 60vw;
        height: auto;
        padding: 3vh;
        margin: 2vw;
    }

    .cardContainer:hover .cardHover{
        width: 70vw;
        height: auto;
    }

    .cardLeft {
        width: 30%;
        padding-right: 3vw;
    }

    .cardImg {
        height: 100%;
        width: 100%;
    }
}

/* Small Devices (Phones) */
@media (max-width: 767px) {
    .cardSection {
        padding: 3vh 0;
        text-align: center;
    }

    .cardContainer {
        width: 80vw;
        padding: 2vh;
        margin: 2vw;
    }

    .cardContainer:hover {
        width: 90vw;
    }

    .cardLeft {
        width: 25%;
        padding-right: 4vw;
    }

    .cardLable {
        font-size: 1rem;
    }
}