.cardSlide{
    width: 50%;
    height: 50%;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardSlideImg img{
    width: 80px;
    height: 80px;
}
.cardSlideName{
    margin: 0   60px;
    color: rgb(6, 139, 139);
}
.cardSlideName h2{
    font-size: 2vh;
    text-align: center;
}
@media (max-width:767px){
    .cardSlideName h2{
        font-size: 12px;
    }
}