.cardSlide{
    width: 50%;
    height: 50%;
    margin-bottom: 2vh;
}
.cardSlideImg img{
    width: 100px;
    height: 100px;
}
.cardSlideName{
    margin: 0   60px;
    color: rgb(6, 139, 139);
}
.cardSlideName h2{
    font-size: 2vh;
}