.sliderTop{
    scroll-snap-align: start; 
    display: flex;
    flex-direction: column;
    border-radius: 8px; 
    height: 60vh;
    overflow: hidden;
}
.sliderContainer {
    width: 100%;
    margin: 5vh 0; 
    display: flex;
    text-align: center;
    white-space: nowrap;
    background: transparent;
    position: relative;
    border-radius: 8px;
    height: 30vh;    
}


.top{
    animation: 5s slider infinite linear;
}
.bottom{
    display: flex;
    flex-direction: row-reverse;
    animation: 5s sliderB infinite linear;

}
.top:hover {
    animation-play-state: paused;
}
.bottom:hover {
    animation-play-state: paused;
}
@keyframes slider {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes sliderB {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}

p {
  font-family: helvetica, arial, sans serif;
}